@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import "./helpers/scss/mixin.scss";
@import "./helpers/scss/variables.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #181c27;
  background: #f1f2f7;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
}

input {
}

.primaryBtn {
  padding: 11px 44px;
  background-color: $primary-color;
  color: $white;
  border: none;
  box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
  border-radius: 25px;
  cursor: pointer;
  transition: padding 0.25s linear, transform 0.1s linear;
  outline: none;

  &:hover,
  &:focus {
    padding: 11px 66px;
  }

  &:active {
    transform: translate(2px, 2px);
  }
}
